.gamepage-wrapper{
    height: 90vh !important;
    width: 1024px !important;
    border: 10px solid rgb(0, 58, 36);
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5% !important;
    position: relative;
}
.square-box{
    height: 15vh !important;
    width: 15vh !important;
    margin: 2.5% !important;
    cursor: pointer;
    position: absolute;
    transition:.4s ease-in-out ;
}

.game-title{
    font-size: 50px !important;
    color: rgb(13, 48, 33); 
    font-weight: bolder;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-5{ 
    top: 5 !important;
}

@media only screen and (max-width: 768px) {
    .square-box{
    height: 10vh !important;
    width: 10vh !important;
    margin: 1.5% !important;
    cursor: pointer;
    position: absolute;
    transition:.4s ease-in-out ;
    }
    .gamepage-wrapper{
    height:100vh !important;
    width: 1024px !important;
    border: 10px solid rgb(0, 58, 36);
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 200px !important;
    position: relative;
}
}


@media only screen and (max-width: 480px) {
    .square-box{
    height: 10vh !important;
    width: 10vh !important;
    margin: 1.5% !important;
    cursor: pointer;
    position: absolute;
    transition:.4s ease-in-out ;
    }
    .gamepage-wrapper{
    height:180vh !important;
    width: 1024px !important;
    border: 10px solid rgb(0, 58, 36);
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 200px !important;
    position: relative;
}
}
