.background-color-#FF0000{
    background:  #FF0000 !important;
}
.background-color-#FF0000{
    background-color:  #FF7F00 !important;
}
.background-color-#FFFF00{
    background-color:  #FFFF00 !important;
}
.background-color-#FF0000{
    background-color:  #00FF00!important;
}
.background-color-#FF0000{
    background-color:  #0000FF!important;
}
.background-color-#FF0000{
    background-color:  #2E2B5F !important;
}
.background-color-#FF0000{
    background-color:  #8B00FF !important;
}